h1 {
    color: darkcyan;
    font-size: 16px;
}

h2{
    font-size: 22px;
}

.random-btn {
    margin-bottom: 14px;

}
.header{
    background-color: lightgrey;
}
.header p{
    padding-top: 10px;
    margin-left: 5px;
}
